.plans {
    &__container {
        padding: 0 20px;
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 70px;
        margin-top: 100px;
    }

    &__title {
        font-family: 'Ferry';
        text-transform: uppercase;
        font-size: 45px;
        font-weight: 900;
        line-height: 54px;
    }
    &__options{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 37px;
    }
}

.headingYellow {
    background-color: var(--yellow);
}

.headingLightBlue {
    background-color: var(--light-blue);
}

.headingBlack {
    color: var(--white);
    background-color: var(--black);
}
