.button {
    color: var(--white);
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    &.colorScheme__1{
        background-color: var(--dark-blue);
        padding: 14px 64px;
        font-size: 20px;
        &:hover{
            background-color: var(--dark-blue-hover);
        }
        &:active{
            background-color: gray;
        }
    }
    &.colorScheme__2{
        color: var(--black);
        background-color: var(--light-blue);
        &:hover{
            background-color: var(--light-blue-hover);
        }
        &:active{
            background-color: rgb(187, 187, 187);
        }
    }
    &.colorScheme__3{
        color: var(--black);
        background-color: var(--light-blue);
        padding: 10px 115px;
        &:hover{
            background-color: var(--light-blue-hover);
        }
        &:active{
            background-color: rgb(187, 187, 187);
        }
    }
}