.header{
    &__container{
        padding: 0 20px;
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__links{
        display: flex;
        gap: 49px;
        &Item a{
            color: var(--black);
            transition: color 0.2s ease-in-out;
            &:hover{
                color: rgba(0, 0, 0, 0.503);
            }
        }
    }
    &__profile{
        &Login{
            display: flex;
            align-items: center;
            gap: 20px;
            &Reg{
                color: rgba(0, 0, 0, 0.402);
                cursor: pointer;
            }
        }
        &Loggedin{
            display: flex;
            gap: 50px;
        }
    }
    @media (max-width: 840px){
        &__links{
            display: none;
        }
        &__profile{}
    }
}